<!-- <p>
  header-home works!
</p> -->
<header class="primary-color fixed-top">
  <div class="d-flex bd-highlight mb-2 align-items-center">
    <div class="section-logo mr-auto p-2 bd-highlight">
      <img src="https://scontent.flim6-1.fna.fbcdn.net/v/t1.15752-9/41880598_596385507430907_7710663114726834176_n.png?_nc_cat=0&_nc_eui2=AeGPklKwmR4EYL1r5urHf1U8zHQd9qEthdIOLzZIC-kjoAoqGorkvx_ktNljKIRw6A8nB2AnehLBqR8qbSx5USm0l_qCq5WLfxwQvavv0r6WBA&oh=b53cac9f01961a5a8a2c9334e544dedf&oe=5C36E572" alt="" class="logo">
    </div>
    <div class="p-2 bd-highlight">
      <button (click)="logout()" type="button" class="btn btn-outline-light">Cerrar Sesión</button>
    </div>
  </div>
</header>
