/* You can add global styles to this file, and also import other style files */
.padding-none {
    padding: 0;
  }
  .primary-color {
      background-color: #2b485d;
  }
  .pointer {
    cursor: pointer;
  }
  body {
    background-color: #f7f9fa
  }
  .primary-text {
   color: #2b485d;
  }
  